body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #EEF0C3;
}

.config-container {
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.config-container label {
    display: block;
    margin-bottom: 10px;
}

.config-container input[type="range"],
.config-container input[type="color"],
.config-container input[type="checkbox"] {
    margin-left: 10px;
}

.config-container button {
    display: inline-block;
    margin-bottom: 10px;
}

.text-container {
    position: fixed;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    z-index: 1000;
    transition: background 0.3s ease;
}

#text {
    font-size: 14px;
    color: #000000;
    transition: all 0.3s ease;
}

.rainbow-bg {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 10%, rgba(208, 222, 33, 1) 20%, rgba(79, 220, 74, 1) 30%, rgba(63, 218, 216, 1) 40%, rgba(47, 201, 226, 1) 50%, rgba(28, 127, 238, 1) 60%, rgba(95, 21, 242, 1) 70%, rgba(186, 12, 248, 1) 80%, rgba(251, 7, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.reversed-text {
    display: inline-block;
    transform: scaleX(-1);
}